*.map
*.o
*~
/mini-snmpd/.dirstamp
/mini-snmpd/.deps/*
/mini-snmpd/lib/.deps/*
/mini-snmpd/aux/*
/mini-snmpd/Makefile
/mini-snmpd/Makefile.in
/mini-snmpd/aclocal.m4
/mini-snmpd/autom4te.cache/*
/mini-snmpd/compile
/mini-snmpd/config.h
/mini-snmpd/config.h.in
/mini-snmpd/config.log
/mini-snmpd/config.status
/mini-snmpd/configure
/mini-snmpd/depcomp
/mini-snmpd/install-sh
/mini-snmpd/mini-snmpd
/mini-snmpd/mini-snmpd.service
/mini-snmpd/missing
/mini-snmpd/stamp-h1
/mini-snmpd/tags
/mini-snmpd/GPATH
/mini-snmpd/GRTAGS
/mini-snmpd/GSYMS
/mini-snmpd/GTAGS

# Ignore VS code files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets